.container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 5%;
    margin-left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
}

.container select{
    min-width: 10em;
}

.fieldPair{
    display: flex;
    flex-direction: row;
    gap: 0.8em;
}

.flex{
    display: flex;
}

.flexGap{
    gap: 1em;
}

.flexColumn{
    flex-direction: column;
}

.whiteSpaceNoWrap{
    white-space: nowrap;
}

.minWidthFull{
    min-width: 100% !important;
}