.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navContainer button{
    margin-right: 5%;
    margin-top: 1%;
}

.navContainer img{
    height: 2.5em;
    width: 2.5em;
    margin-right: auto;
    margin-left: 5%;
    margin-top: 1%;
}

.navContainer img:hover{
    background-color: grey;
    border-radius: 30%;
    padding: 0.25em;
}