.container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 80%;
}

.container select{
    overflow: auto;
}

.container button{
    width: 100%;
}

.fieldPair{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
    align-items: center;
}

.flexDiv{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.flexButtonContainer{
    display: flex;
    gap: 4%;
}

.disabled{
    pointer-events: none;
    opacity: 0.4;
}

.alignItems {
    align-items: center;
}

.noteTextarea{
    resize:none;
    height: 5em;
}

.readOnlyInput{
    color: #999;
}

.maxWidth{
    max-width: 100%;
}