.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
}

.container p{
    margin:0;
}

.navbar{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contentOuterContainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    overflow: auto;
}

.topBarContainer{
    width: 100%;
    height: 6%;
}

.contentContainer{
    width: 100%;
    height: 94%;
}