.container{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.container p{
    text-align: center;
}

.buttonsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 0.2em;
}

.buttonsDiv img{
    width: 1.5em;
    height: 1.5em;
}

.buttonsDiv img:hover{
    background-color: grey;
    padding: 5%;
    border-radius: 20%;
}

.buttonsDiv img:last-of-type{
    transform: rotate(180deg);
}

.disabled{
    pointer-events: none;
    opacity: 0.4;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexGap {
    gap: 0.2em;
}